<nav id="i_cim"><h1>{$lec}</h1></nav>

<nav id="i_info_fej"><img src="images/info_fej.gif"></nav>
<nav id="i_info">
	<nav id="i_info_t">
		
		<h2>{$lang_m[12]}</h2>
		<ul>
			<li>{$lang_m[13]}</li>
			<li>{$lang_m[14]}</li>
			<li>{$lang_m[14]}</li>
			<li>{$lang_m[16]}</li>
		</ul>
	
	</nav>
</nav>

<nav id="i_info_lab"><img src="images/info_lab.gif"></nav>

{if $uzen} {include file = "uzen.html"} {/if}

{if $uzen_tip != 2}

<nav class="bel_tart">

	<form method="post" action="?muv=2&akt=reg_kuld">
	
		<nav class="urlap" id="urlap">
		
			<nav class="mezo">
				<label for="email">{$lang_m[1]}</label>
				<span class="csillag">*</span>
				<input type="text" name="email" value="{$email}" maxlength="100" size="30">
			</nav>

			<nav class="mezo">
				<label for="nev">{$lang_m[2]}</label>
				<span class="csillag">*</span>
				<input type="text" name="nev" value="{$nev}" maxlength="12" size="30">
			</nav>
			
			<nav class="mezo">
				<label></label>
				<span class="csillag"></span>
				<nav class="komment">{$lang_m[6]}<br>{$lang_m[27]}</nav>
			</nav>

			<nav class="mezo">
				<label for="jelszo_1">{$lang_m[3]}</label>
				<span class="csillag">*</span>
				<input type="password" name="jelszo_1" maxlength="12" size="30">
			</nav>
			
			<nav class="mezo">
				<label for="jelszo_2">{$lang_m[4]}</label>
				<span class="csillag">*</span>
				<input type="password" name="jelszo_2" maxlength="12" size="30">
			</nav>
			
			<nav class="mezo">
				<label></label>
				<span class="csillag"></span>
				<nav class="komment">{$lang_m[7]}</nav>
			</nav>

			<nav class="mezo">
				<label for="kapcsa" class="kapcsa_l">{$lang_m[8]}</label>
				<span class="csillag"></span>
				<nav class="kapcsa">
				
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td width="8" class="kapcsa_csillag">*</td>
							<td><img src="class/captcha_class.php"></td>
							<td width="30" align="center"> = </td>
							<td><input type="text" name="kapcsa" maxlength="2" size="10"></td>
						</tr>
					</table>
					
				</nav>
			</nav>
	
			<nav class="mezo">
				<label></label>
				<span class="csillag"></span>
				<nav class="komment">{$lang_m[9]}</nav>
			</nav>
	  
			<nav class="kuld">
				<input type="image" src="images/btn_mehet_{$nyelv}.gif" class="frm_gomb">
			</nav>	 
		
		</nav>

	</form>

</nav>

{else}
	
<nav class="szoveg">	

	<b>{$lang_m[17]}</b>
	<p><br>{$lang_m[18]}
	<p>{$lang_m[19]}
  
</nav>

{/if}

