{if $user_nev}

<table cellpadding="0" cellspacing="0" width="160">
  <tr height="2"><td></td></tr>
</table>

<table cellpadding="0" cellspacing="10" width="160">
  <tr><td class="also_csik"><b>FELHASZNÁLÓK</b></td></tr>
  <tr>
     <td class="menu">
       <img src="images/nyil.gif"><a href="index.php?muv=1&akt=lista&nyelv=hu" class="menu_link">listázás és jogosultság</a><br>
       <img src="images/nyil.gif"><a href="index.php?muv=1&akt=lista_foto&nyelv=hu" class="menu_link">fényképek</a><br>
     </td>
  </tr>
  <tr><td></td></tr>
  <tr><td class="also_csik"><b>FÓRUM</b></td></tr>
  <tr>
     <td class="menu">
       <img src="images/nyil.gif"><a href="index.php?muv=3&nyelv=hu" class="menu_link">listázás - magyar</a><br>
       <img src="images/nyil.gif"><a href="index.php?muv=3&nyelv=en" class="menu_link">listázás - angol</a><br>
     </td>
  </tr>
  <tr><td></td></tr>
  <tr><td class="also_csik"><b>JÁTÉK</b></td></tr>
  <tr>
     <td class="menu">
       <img src="images/nyil.gif"><a href="index.php?muv=4&nyelv=hu" class="menu_link">listázás és módosítás</a><br>
       <img src="images/nyil.gif"><a href="index.php?muv=4&akt=uj&nyelv=hu" class="menu_link">új játék</a><br>
     </td>
  </tr>
</table>

{/if}
