<!DOCTYPE html>

<head>

<title>Japanese Puzzle</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv=expires content=0>
<meta name="author" content="Vivid Darer - www.vivid-darer.hu">
<meta name="robots" content="index, follow, all">
<meta name="googlebot" content="index, follow">
<meta name="revisit-after" content="1 days">
<meta name="document-distribution" content="global">
<link rel="shortcut icon" href="images/favicon.gif" type="image/gif">
<link rel="icon" href="images/favicon.gif" type="image/gif">
<link rel="bookmark" href="images/favicon.ico">
<link rel=stylesheet href="inc/style.css" type="text/css">

<meta http-equiv="Content-Language" content="en-gb">
<meta name="keywords" content="pic-a-pix, japán puzzle, logic puzzle">
<meta name="language" content="en">
<meta name="description" content="Pic-a-pix - free online japanese logic puzzles.">

<meta property="og:title" content="Pic-a-pix - free online japanese logic puzzles" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://japanes-puzzle.com" />
<meta property="og:image" content="http://japanese-puzzle.com/stuff/0.jpg" />
<meta property="og:site_name" content="Japanese Puzzle" />
<meta property="fb:admins" content="100003224280016" />

<!--[if IE]>

<link rel=stylesheet href="inc/style_IE.css" type="text/css">

<![endif]-->


</head>
